body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#lead h1 {
    font-size: 20em;  /* Increased from 3em to 4.5em */
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-bottom: 20px;  /* Added to create some space below the name */
}

#lead h2 {
    font-size: 2em;  /* Slightly increased from 1.75em to 2em */
    font-weight: 300;
    letter-spacing: 0.02em;
    margin-bottom: 30px;  /* Added to create some space below the title */
}

#lead-content {
    padding: 20px;  /* Added to give some space around the content */
}

#about p {
    font-size: 1.1em;
    line-height: 1.8;
}

.education-block h3, .project-info h3 {
    font-weight: 700;
}

.btn-rounded-white {
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 1.2em;  /* Increased button text size for better proportion */
    padding: 15px 25px;  /* Increased padding to make the button larger */
}
